* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* homePage */
.courses-item {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-row-gap: 0.1rem;
  height: 100%;
  padding: 1rem;
  place-items: center;
  background-color: rgb(216, 211, 211);
  margin: 0px 19px;
}
.courses-item h4 {
  display: grid;
  place-content: center;
  color: black;
}
.courses-ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  justify-content: center;
  gap: 3rem;
  margin-top: 20px;
  list-style: none;
}
/* detail-section */
.detail-section {
  display: grid;
  grid-template-columns: auto auto;
  gap: 3rem;
}
.detail-section img {
  display: grid;
  margin-top: 40px;
  width: 500px;
  height: 380px;
  object-fit: contain;
  margin-left: 15px;
  cursor: pointer;
}
.detail-container {
  margin-top: 40px;
}
.detail-container h2 {
  display: grid;
  place-content: center;
}
.detail-description {
  display: grid;
  margin: 10px;
  place-content: center;
  margin-top: 50px;
}
.detail-type {
  display: grid;
  margin: 10px;
  padding-top: 40px;
}
.detail-price {
  display: grid;
  margin: 10px;
  margin-right: 70px;
  place-content: end;
}

.add-to-cart-button {
  /* display: grid; */
  padding: 10px;
  /* place-items: center; */
  margin-left: 1000px;
  color: white;
  background-color: red;
  border: 2px solid red;
  border-radius: 10%;
  cursor: pointer;
}

/* Sign-In */
.sign-in {
  display: grid;
  place-content: center;
  margin-top: 100px;
  height: 100%;
  gap: 1.2rem;
}

.sign-in form {
  display: grid;
  gap: 1rem;
}

.sign-in input {
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: 2px solid royalblue;
}

.sign-in button {
  color: white;
  background-color: red;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.sign-in button:hover {
  filter: brightness(1.5);
}

.sign-in button:active {
  filter: brightness(0.5);
}
.text-center {
  display: grid;
  grid-template-rows: auto auto;
  place-content: center;
}
/* Header */
.header a {
  text-decoration: none;
  color: rgb(7, 57, 173);
}
.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav {
  background: #0082e6;
}

nav {
  /* margin-right: 20px; */
  display: grid;
  grid-auto-flow: column;
  list-style: none;
}

nav li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

.header-li {
  color: white;
}

.logIn-btn {
  background-color: aliceblue;
  border: none;
  color: #0873c5;
  padding: 0.5rem;
}

.logIn-btn:hover {
  cursor: pointer;
}

/* Sign-Up */
.sign-up {
  display: grid;
  place-content: center;
  margin-top: 50px;
  height: 100%;
}

.signIn-signUp {
  padding-top: 2.1rem;
  display: grid;
  grid-auto-flow: column;
  place-content: center;
  gap: 1rem;
  list-style: none;
  align-items: center;
  justify-content: center;
  height: 0px;
}

.signIn-signUp button {
  background-color: aliceblue;
  border: none;
  color: #0873c5;
  padding: 1rem;
  font-size: x-large;
  border: 1.5px solid #0873c5;
  border-radius: 20px;
}

.signIn-signUp button :hover {
  cursor: pointer;
}

.signIn-signUp p {
  font-size: 5rem;
  color: #024579;
}

.sign-up h2 {
  font-weight: 900;
  font-size: x-large;
  display: grid;
  place-content: center;
  margin: 10px;
}

.sign-up form {
  display: grid;
  gap: 1.5rem;
}

/* .sign-up label {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 10px;
margin: 60px;
} */
.sign-up div {
  display: grid;
  margin-top: 10px;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: 2px solid black;
}
.sign-up div input {
  display: grid;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: 2px solid rgb(255, 255, 255);
}
.sign-up button {
  display: grid;
  color: white;
  background-color: red;
  font-size: 1rem;
  padding: 0.5rem;
  margin-top: 15px;
  margin-left: 45px;
  width: 230px;
}
.Sing-Up-As {
  margin-top: 40px;
  display: grid;
  place-content: center;
  font-weight: 900;
  font-size: x-large;
}
.Sing-Up-As h2 {
  font-weight: 900;
  font-size: xx-large;
  display: grid;
  place-content: center;
}

.sign-up button:hover {
  filter: brightness(1.5);
}

.sign-up button:active {
  filter: brightness(0.5);
}
select {
  display: grid;
  font-size: 1rem;
  padding: 0.5rem;
  margin-top: 15px;
  width: 200px;
}
*/

/* .... */

.Sing-Up-As {
  display: grid;
  grid-auto-flow: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

select {
  padding: 1rem;
  border-radius: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  cursor: pointer;
}

.dropdown-content {
  display: grid;
  grid-auto-flow: column;
}
.dropbtn {
  background-color: transparent;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: white;
}

/* Search */
.search {
  float: right;
  display: flex;
  background: rgba(255, 255, 255, 0.2);
  padding: 1rem;
  border: 2px solid#0082e6;
  border-radius: 60px;
  margin: 1rem;
  font-size: 17px;
}

/* Home */
.home {
  height: 100vh;
  background-image: url(https://imgs.search.brave.com/e_KmPVWLI9Daj5yryj02yE9RnvfXviJEPw2sHh96fLk/rs:fit:1200:1152:1/g:ce/aHR0cHM6Ly9zdGF0/aWMudmVjdGVlenku/Y29tL3N5c3RlbS9y/ZXNvdXJjZXMvcHJl/dmlld3MvMDAxLzkz/Ny82NDQvb3JpZ2lu/YWwvb25saW5lLWVk/dWNhdGlvbi1hcHBs/aWNhdGlvbi1sZWFy/bmluZy13b3JsZHdp/ZGUtb24tY29tcHV0/ZXItbW9iaWxlLXdl/YnNpdGUtYmFja2dy/b3VuZC1zb2NpYWwt/ZGlzdGFuY2UtY29u/Y2VwdC10aGUtY2xh/c3Nyb29tLXRyYWlu/aW5nLWNvdXJzZS1s/aWJyYXJ5LWlsbHVz/dHJhdGlvbi1mbGF0/LXZlY3Rvci5qcGc);
  background-repeat: no-repeat;
  background-size: cover;

  display: grid;
  grid-auto-flow: column;
}
/* Category */

.category-details {
  display: grid;
  grid-auto-flow: column;
  margin-top: 50px;
  border-radius: 15px;
  border: 2px solid rgb(173, 173, 223);
  width: 500px;
  margin-left: 300px;
}
.category-title {
  display: grid;
  font-size: large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  margin-top: 30px;
  color: #024579;
}
.category-image {
  display: grid;
  justify-items: center;
  width: 500px;
  height: 250px;
  object-fit: cover;
  /* margin-left: 20rem; */
  margin-top: 30px;
  border-radius: 15px;
  /* border: 2px solid rgb(173, 173, 223); */
  padding: 10px;
}

.courses{
  display: grid;
  background-image: linear-gradient(rgba(0,8,51,0.9), rgba(0,8,51.,0.9) ), url(https://imgs.search.brave.com/e_KmPVWLI9Daj5yryj02yE9RnvfXviJEPw2sHh96fLk/rs:fit:1200:1152:1/g:ce/aHR0cHM6Ly9zdGF0/aWMudmVjdGVlenku/Y29tL3N5c3RlbS9y/ZXNvdXJjZXMvcHJl/dmlld3MvMDAxLzkz/Ny82NDQvb3JpZ2lu/YWwvb25saW5lLWVk/dWNhdGlvbi1hcHBs/aWNhdGlvbi1sZWFy/bmluZy13b3JsZHdp/ZGUtb24tY29tcHV0/ZXItbW9iaWxlLXdl/YnNpdGUtYmFja2dy/b3VuZC1zb2NpYWwt/ZGlzdGFuY2UtY29u/Y2VwdC10aGUtY2xh/c3Nyb29tLXRyYWlu/aW5nLWNvdXJzZS1s/aWJyYXJ5LWlsbHVz/dHJhdGlvbi1mbGF0/LXZlY3Rvci5qcGc);
}

.searchBar{
 display: grid;
 place-content: center;
}