* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* homePage */
.courses-item {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-row-gap: 0.1rem;
  height: 100%;
  padding: 1rem;
  place-items: center;
  background-color: rgb(216, 211, 211);
 margin: 0px 19px;
}
.courses-item h4 {
  display: grid;
  place-content: center;
  color: black;

}
.courses-ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  justify-content: center;
  gap: 3rem;
  margin-top: 20px;
  list-style: none;
}